@use "~bootstrap/scss/bootstrap";
@use '../../../utilities/styles/helpers';


.body {
    &--full-height {
        height: 100vh !important;
    }
}

.navigation {
    &__user-image {
        width: helpers.px2rem(42.5px);
        border-radius: 25px;
    }
}

.img-rounded {
    border-radius: helpers.px2rem(25px);
}