<div class="alert alert-info" role="alert" style="margin-top: 25%;">
    <h5><i class="fas fa-vial"></i> Debug-Info <i class="fas fa-vial"></i></h5>
    <ul class="page-properties">
        <li><strong>Blueprint:</strong> {{request.blueprint}}</li>
        <li><strong>View:</strong> {{request.endpoint}}</li>
        <li><strong>Route:</strong> {{request.path}}</li>
    </ul>
</div>
