{% extends 'base_layout.jinja2' %}
{% set page_title = 'Quiz - Frage' + question_number %}
{% set bundle_name = 'quiz.bundle' %}

{% block content %}

  <div class="row mb-5">
    <div class="col-12">
      <nav class="nav nav-pills nav-fill">
        {% for entry in ['1','2','3','4','5'] %}
          <a class="nav-link {% if question_number == entry %} active {% else %} disabled {% endif %}" href="#">Frage {{ entry }}</a>
        {% endfor %}
        <a class="nav-link disabled" href="#">Ergebnis</a>
      </nav>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1 class="h2">Lorem ipsum dolor sit amet?</h1>
    </div>
  </div>



  <div class="row mt-5">

    <div class="col-4">
      <div class="card quiz__answer">
        <div class="quiz__answer__header">A</div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card quiz__answer">
        <div class="quiz__answer__header quiz__answer__header--correct">B</div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card quiz__answer">
        <div class="quiz__answer__header quiz__answer__header--incorrect">C</div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
