{% extends 'base_layout.jinja2' %}
{% set page_title = 'Quiz - Frage ' + viewmodel.question_number|string %}
{% set bundle_name = 'quiz.bundle' %}

{% block content %}

  <div class="row mb-5">
    <div class="col-12">
      <nav class="nav nav-pills nav-fill">
        {% for count in range(config['AMOUNT_OF_QUESTIONS_PER_QUIZ']) %}
          {% set count = count + 1 %}
          <a class="nav-link {% if viewmodel.question_number == count %} active {% else %} disabled {% endif %}" href="#">Frage {{ count }}</a>
        {% endfor %}
        <a class="nav-link disabled" href="#">Ergebnis</a>
      </nav>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1 class="h2">{{ viewmodel.question_text }}</h1>
      <span class="text-muted">Modul: {{ viewmodel.subject_name }}</span>
    </div>
  </div>



  <div class="row mt-5">

    {% for answer in viewmodel.answers %}
      <div class="col-sm-{{ (12 / config['AMOUNT_OF_ANSWERS_PER_QUESTION'])|int }} col-xs-12 mb-5">
        <div 
            class="card quiz__answer {% if viewmodel.is_validation_step.data %} quiz__answer--validated {% endif %}" 
            id="quiz-answer-{{ answer.answer_char|lower }}"
            data-key="{{ answer.answer_char|lower }}">
          <div 
            class="quiz__answer__header 
              {% if viewmodel.is_validation_step.data and answer.mark_correct %} quiz__answer__header--correct {% endif %}
              {% if viewmodel.is_validation_step.data and answer.mark_incorrect %} quiz__answer__header--incorrect {% endif %}">
            {{ answer.answer_char }}
          </div>
          <div class="card-body">
            <p class="card-text">{{ answer.answer_text }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <form method="POST" action="{{ url_for('quiz_controller.question', question_number=viewmodel.question_number) }}">
    {{ viewmodel.csrf_token }}

    <div class="d-none">
      {% for answer in viewmodel.answer_selection %}
        {{ answer(id='answer-selection-' + answer.label.text) }}
      {% endfor %}

      {{ viewmodel.is_validation_step() }}
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <div class="position-relative">
          <div class="position-absolute bottom-0 end-0">
            {% if viewmodel.is_validation_step.data %}
              {{ viewmodel.submit(class_="btn btn-primary", id="button-evaluate") }}
            {% else %}
              {{ viewmodel.submit(class_="btn btn-success disabled", id="button-evaluate") }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
