{% extends 'base_layout.jinja2' %}
{% set page_title = 'Frage vorschlagen' %}
{% set bundle_name = 'suggestquestion.bundle' %}

{% block content %}

<div class="row">
  <div class="col-12">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link disabled" href="#">Modulauswahl</a>
      <a class="nav-link active" href="#">Frage / Antworten</a>
      <a class="nav-link disabled" href="#">Danke</a>
    </nav>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    Wie lautet deine Quiz-Frage?
  </div>
</div>



<div class="row mt-5">
  <div class="col-12">
    <div class="position-relative">
      <div class="position-absolute bottom-0 end-0">
        <button type="button" class="btn btn-success disabled" id="button-next-step">Jetzt absenden <i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
