@use '../../../utilities/helpers';
@use '../../../utilities/colors';


.auth-form {
    &__container {
        width: 100%;
        max-width: helpers.px2rem(500px);
        padding: helpers.px2rem(50px);
        margin: auto;
        background-color: colors.$color-gray;
        border-radius: helpers.px2rem(10px);
    }

    &__title {
        color: colors.$color-white;
    }
}


@media only screen and (max-width: 500px) {
    .auth-form {
        &__container {
            background-color: colors.$color-white;
        }

        &__title {
            color: colors.$color-black;
        }
    }
}
