<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{{ page_title }} | iuquiz</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/images/apple-touch-icon.png') }}{{ '?v=' + bundle_version }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}{{ '?v=' + bundle_version }}"/>


        {% include 'layout/styleincludes.jinja2' %}

    </head>
    <body class="d-flex flex-column h-100 body--full-height">

        {% block navigation %}
            {% include 'layout/navigation.jinja2' %}
        {% endblock %}

        {% block main %}
            <main role="main" class="flex-shrink-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 pt-5">
                            {% block content %}{% endblock %}
                        </div>
                    </div>

                    {% if config['FLASK_ENV'] == 'development' %}
                        <div class="row">
                            <div class="col-12">
                                {% include 'debug/debuginfo.jinja2' %}
                            </div>
                        </div>
                    {% endif %}

                </div>
            </main>
        {% endblock %}
        

        {% block footer %}
            {% include 'layout/footer.jinja2' %}
        {% endblock %}
        
        
        {% include 'layout/scriptincludes.jinja2' %}
    </body>
</html>
