{% extends 'base_layout.jinja2' %}

{% block navigation %}
{% endblock %}

{% block main %}
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <button class="btn btn-link" id="back-button">&lt; Zurück</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-2">
                    <img class="mb-4" src="{{ url_for('static', filename='assets/images/logo-iuquiz-dark.svg') }}{{ '?v=' + bundle_version }}" alt="" height="70" width="140">
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-2">
                    {% block content %}{% endblock %}
                </div>
            </div>

            {% if config['FLASK_ENV'] == 'development' %}
                <div class="row">
                    <div class="col-12">
                        {% include 'debug/debuginfo.jinja2' %}
                    </div>
                </div>
            {% endif %}

        </div>
    </main>
{% endblock %}


