{% extends 'base.jinja2' %}
{% set page_title = 'Dashboard' %}
{% set bundle_name = 'home.bundle' %}

{% block content %}
    <div class="btn btn-primary">
        Quiz starten
    </div>
{% endblock %}
