Flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
python-dotenv==0.17.1
sqlalchemy==1.3.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
Flask-SQLalchemy==2.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
psycopg2-binary==2.8.6
Flask-Script==2.0.6
Flask-Migrate==2.7.0
alembic==1.6.2
gunicorn==20.1.0