{% if config['IS_USERLIKE_ACTIVE'] %}
    <script 
        async 
        type="text/javascript" 
        src="https://userlike-cdn-widgets.s3-eu-west-1.amazonaws.com/{{ config['USERLIKE_SECRET'] }}.js">
    </script>
{% endif %}