{% set navigation_items = [
  ('home_controller.index', 'Dashboard')
] -%}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home_controller.index') }}">
        <img src="{{ url_for('static', filename='assets/images/logo-iuquiz-white.svg') }}" height="45" />
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% for nav_path, nav_title in navigation_items %}
            <li class="nav-item">
              <a class="nav-link {% if nav_path == request.endpoint %} active {% endif %}" 
                aria-current="page" 
                href="{{ url_for(nav_path) }}">
                  {{ nav_title }}
              </a>
            </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </nav>
