{% set navigation_items = [
  ('home_controller.index', 'Dashboard'),
  ('suggestquestion_controller.subjectselection', 'Frage vorschlagen')
] -%}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home_controller.index') }}" alt="iuquiz Logo Link">
      <img src="{{ url_for('static', filename='assets/images/logo-iuquiz-white.svg') }}{{ '?v=' + bundle_version }}" height="45" width="90" alt="iuquiz Logo" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% for nav_path, nav_title in navigation_items %}
          <li class="nav-item">
            <a class="nav-link {% if nav_path == request.endpoint %} active {% endif %}" 
              aria-current="page" 
              href="{{ url_for(nav_path) }}">
                {{ nav_title }}
            </a>
          </li>
        {% endfor %}

      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="user-menu" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="icon-circle d-none d-sm-inline-block">
            <i class="fas fa-user-graduate fs-4"></i>
          </span>
          <div class="d-sm-none mt-4"></div>
          {% if current_user.is_authenticated %}
            <span class="d-sm-none">{{ current_user.email }}</span>
          {% endif %}
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="user-menu">
          <li>
            <a class="dropdown-item" href="#">
              <i class="fas fa-plus"></i> Neues Quiz
            </a>
          </li>

          <li>
            <a class="dropdown-item" href="{{ url_for('user_controller.profile') }}">
              <i class="fas fa-id-badge"></i> Mein Profil
            </a>
          </li>

          <li><hr class="dropdown-divider"></li>

          <li>
            <a class="dropdown-item" href="{{ url_for('auth_controller.logout') }}">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
