{% extends 'base_layout.jinja2' %}
{% set page_title = 'Dashboard' %}
{% set bundle_name = 'home.bundle' %}

{% block content %}
<p class="h1">Modul Auswahl</p>

<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 text-left align-self-md-center">
      <img src="{{ url_for('static', filename='assets/images/logo-iuquiz-dark.svg') }}{{ '?v=' + bundle_version }}" alt="...">
    </div>
    <div class="col-md-6 ">
      <div class="card-body">
        <h5 class="card-title">BSTA01-01</h5>
        <p class="card-text">Statistik</p>
              
      </div>
    </div>

        <div class="col-md-2 text-center align-self-md-center">
            

                    
                    <button type="button" class="btn btn-primary"><i class="fas fa-play"></i> Spiel starten</button>

               
            
        </div>
  </div>
</div>

<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 text-left align-self-md-center">
      <img src="{{ url_for('static', filename='assets/images/logo-iuquiz-dark.svg') }}{{ '?v=' + bundle_version }}" alt="...">
    </div>
    <div class="col-md-6 ">
      <div class="card-body">
        <h5 class="card-title">ISPE01</h5>
        <p class="card-text">Spezifikation</p>
              
      </div>
    </div>

        <div class="col-md-2 text-center align-self-md-center">
            

                    <button type="button" class="btn btn-primary"><i class="fas fa-play"></i> Spiel starten</button>

               
            
        </div>
  </div>
</div>

<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4 text-left align-self-md-center">
      <img src="{{ url_for('static', filename='assets/images/logo-iuquiz-dark.svg') }}{{ '?v=' + bundle_version }}" alt="...">
    </div>
    <div class="col-md-6 ">
      <div class="card-body">
        <h5 class="card-title">IREN01</h5>
        <p class="card-text">Requirements Engineering</p>
              
      </div>
    </div>

        <div class="col-md-2 text-center align-self-md-center">
            

                    <button type="button" class="btn btn-primary"><i class="fas fa-play"></i> Spiel starten</button>

               
            
        </div>
  </div>
</div>
{% endblock %}
