{% extends 'base_layout.jinja2' %}
{% set page_title = 'Dashboard' %}
{% set bundle_name = 'home.bundle' %}

{% block content %}
<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='assets/images/logo-iuquiz-dark.svg') }}{{ '?v=' + bundle_version }}" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        
      </div>
    </div>

        <div class="col-md-2">
            <div class="col-sm-6 col-xs-12 text-center">

                    <button type="button" class="btn btn-primary">Primary</button>

               
            </div>
        </div>
  </div>
</div>
{% endblock %}
